<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Untree.co" />
  <link rel="shortcut icon" href="favicon.png" />

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet"
  />

  <link rel="stylesheet" href="/fonts/icomoon/style.css" />
  <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />

  <link rel="stylesheet" href="/css/tiny-slider.css" />
  <link rel="stylesheet" href="/css/aos.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300&family=Nanum+Gothic:wght@700&family=Orbit&family=Sunflower:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"><!--전화아이콘-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"><!--주소아이콘-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="_csrf" th:content="${_csrf.token}"/>

  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
    <style>
      .mgb-15{
        margin-bottom:15px;
      }
      .mgt-30{
        margin-top:30px;
      }
      .mgt-50{
        margin-top:50px;
      }
      .repImgDiv{
        margin-right:20px;
        height:auto;
        width:60%;
      }
      .repImg{
        width: 100%;
        height: 350px;
        object-fit: cover;
      }
      .wd50{
        height:auto;
        width:50%;
      }
    </style>
  </th:block>

  <style>
    .fieldError {
      color: #bd2130;
    }
    .img img {
      height: 350px;
      object-fit: cover;
    }
    .container-login {
      margin-top: 200px;
      margin-bottom: 100px;
    }
    .text-left {
      color: #545353;
      font-size: 15px;
    }
    .btn-outline-dark a {
      color: black;
    }
    .badge-outline {
      background-color: transparent;
      border: 1px solid #dc3545;
      color: #dc3545;
      padding: .25em .6em;
      border-radius: .25rem;
      margin-bottom: 10px;
    }
    .Calendar {
      width: 80%;
      max-width: 500px;
      font-size: 1.2em;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .Calendar td {
      padding: 15px;
      text-align: center;
    }

    .Calendar thead tr:first-child td {
      font-weight: bold;
      font-size: 1.4em;
    }

    .Calendar tbody td {
      border: 1px solid #ddd;
      cursor: pointer;
    }

    .Calendar tbody td:hover {
      background-color: #f0f0f0;
    }

    .Calendar tbody td.selected {
      background-color: #f0f0f0;
    }

    .counter {
      display: flex;
      align-items: center;
    }

    .counter button {
      margin: 0 5px;
      padding: 5px 10px;
    }

    .reservation-container {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
    }

    .reservation-container textarea {
      height: 200px !important;


    #text {
      flex: 1;
      height: 200px;
    }

    #reserveButton {
      height: 50px;
      width: 100px;
    }

    .btn-time {
      background-color: #f8f9fa;
      color: #007bff;
      border: 2px solid #007bff;
      border-radius: 50px;
      padding: 10px 20px;
      font-size: 16px;
      margin: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .btn-time:hover {
      background-color: #007bff;
      color: #fff;
    }

    .btn-time:focus {
      outline: none;
      box-shadow: 0 0 5px #007bff;
    }

    #timeButtonsContainer {
      margin-top: 20px;
    }

  </style>

  <title>
    즐거운 식당 예약 문화 - 다이닝잇!
  </title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<div id="nav" th:replace="layouts/nav.html :: nav"></div> <!-- 네비게이션바-->

<div class="container-login">
  <div class="col-md-6 mx-auto">
    <input type="hidden" id="restId" th:value="${rest.id}">

    <div class="d-flex">
      <div class="repImgDiv">
        <img th:src="${rest.restImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${rest.restNm}">
      </div>
      <div class="wd50">
                    <span class="badge badge-outline" >
                        [[${rest.category}]]
                    </span>
        <div class="h4" th:text="${rest.restNm}"></div>
        <hr class="my-4">

        <div class="text-right">
          <div class="text-left">
            <input type="hidden" th:value="${rest.restPhone}" id="restPhone" name="restPhone">
            번호 <i class="fas fa-phone"></i> <span th:text="${rest.restPhone}"></span>
          </div>
          <div class="text-left">
            <input type="hidden" th:value="${rest.address}" id="address" name="address">
            주소 <i class="fas fa-map-marker-alt"></i> <span id="restaurantAddress" th:text="${rest.address}"></span>
          </div>
          <div class="text-left">
            <input type="hidden" th:value="${rest.introduction}" id="introduction" name="introduction">
            소개 <i class="fas fa-info-circle"></i> <span th:text="${rest.introduction}"></span>
          </div>
          <div class="text-left">
            별점 <i class="fas fa-star"></i> <span th:text="${review}"></span>
          </div>
        </div>
        <hr class="my-4">
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-50">
      <div class="container">
        <div class="container">
          <p class="display-5" style="font-size: 20px;">예약 날짜 선택</p>
          <hr class="my-4">
          <div><h4 id="dataContainer"></h4></div>
          <div class="row justify-content-between">
            <div class="col-lg-7">
              <table class="Calendar">
                <thead>
                <tr>
                  <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                  <td colspan="5">
                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                  </td>
                  <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                </tr>
                <tr>
                  <td>일</td>
                  <td>월</td>
                  <td>화</td>
                  <td>수</td>
                  <td>목</td>
                  <td>금</td>
                  <td>토</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <div>
              </div>
            </div>
            <div id="buttonContainer" ></div>
          </div>
        </div>

        <div class="jumbotron jumbotron-fluid mgt-50">
          <div class="container">
            <p class="display-5" style="font-size: 20px;">인원수</p>
            <hr class="my-4">
            <button id="decreaseBtn" class="btn btn-outline btn me-3">-</button>
            <span id="personCount" style="font-size: 20px; width: 50px; text-align: center;">1</span>
            <button id="increaseBtn" class="btn btn-outline btn ms-3">+</button>
          </div>
        </div>

        <div class="jumbotron jumbotron-fluid mgt-50">
          <div class="container">
            <p class="display-5" style="font-size: 20px;">요청사항</p>
            <hr class="my-4">
            <div class="reservation-container">
              <textarea id = "text" style="width: 100%; height: 500px; "></textarea>
            </div>
          </div>

          <div class="container d-flex justify-content-center mt-4 mb-4">
            <button id="reserveButton" class="btn btn-primary btn">예약하기</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="footer" th:replace="layouts/footer.html :: footer"></div> <!-- 푸터-->

  <script th:inline = "javascript" >
    window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

    let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
    let today = new Date();     // 페이지를 로드한 날짜를 저장
    today.setHours(0,0,0,0);    // 비교 편의를 위해 today의 시간을 초기화
    /*<![CDATA[*/
    var id = /*[[${rest.id}]]*/ '';
    /*]]>*/
    var selectedDate = null;
    var count=1;



    // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
    function buildCalendar() {

      let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
      let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

      let tbody_Calendar = document.querySelector(".Calendar > tbody");
      document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
      document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

      while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
        tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
      }

      let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가

      for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
        let nowColumn = nowRow.insertCell();        // 열 추가
      }

      for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복

        let nowColumn = nowRow.insertCell();        // 새 열을 추가하고
        nowColumn.innerText = leftPad(nowDay.getDate());      // 추가한 열에 날짜 입력


        if (nowDay.getDay() == 0) {                 // 일요일인 경우 글자색 빨강으로
          nowColumn.style.color = "#DC143C";
        }
        if (nowDay.getDay() == 6) {                 // 토요일인 경우 글자색 파랑으로 하고
          nowColumn.style.color = "#0000CD";
          nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
        }


        if (nowDay < today) {                       // 지난날인 경우
          nowColumn.className = "pastDay";
        }
        else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우
          nowColumn.className = "today";
          nowColumn.onclick = function () { choiceDate(this); }
        }
        else {                                      // 미래인 경우
          nowColumn.className = "futureDay";
          nowColumn.onclick = function () { choiceDate(this); }
        }
      }
    }

    // 날짜 선택
    function choiceDate(nowColumn) {
      if (document.querySelector(".Calendar td.selected")) {
        document.querySelector(".Calendar td.selected").classList.remove("selected");
      }

      nowColumn.classList.add("selected");
      var buttonContainer = document.getElementById("buttonContainer");
      buttonContainer.innerHTML = ""; // 기존 버튼 초기화
      var button = document.createElement("button");
      var currentMonth = nowMonth.getMonth() + 1;
      var currentYear = nowMonth.getFullYear();
      button.innerText = currentYear + "년" + currentMonth + "월" + nowColumn.innerText + "일";

      for (var hour = 10; hour < 19; hour++) {
        createButton(hour);
      }

      function createButton(hour) {
        var button = document.createElement("button");
        button.className = "btn btn-time";
        button.innerText = formatTime(hour); // 시간 값을 포맷팅하여 버튼의 텍스트로 설정
        button.id = hour.toString(); // 버튼에 ID로 시간 값 설정
        button.onclick = function () {
          var buttonHour = parseInt(this.id);

          /*<![CDATA[*/
          var csrfToken = /*[[${_csrf.token}]]*/ '';
          var csrfHeader = /*[[${_csrf.headerName}]]*/ '';
          /*]]>*/
          console.log('CSRF Token:', csrfToken);
          console.log('CSRF Header:', csrfHeader);



          // AJAX 통신
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/reservationtime", true);
          xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          xhr.setRequestHeader(csrfHeader, csrfToken);
          xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                var response = parseInt(xhr.responseText);
                var dataContainer = document.getElementById('dataContainer');
                selectedDate = {
                  year: currentYear,
                  month: currentMonth,
                  day: nowColumn.innerText,
                  hour: buttonHour
                };
                if (response === 0) {
                  dataContainer.innerText = `날짜: ${selectedDate.year}-${selectedDate.month}-${selectedDate.day}, 시간: ${selectedDate.hour}시 예약가능`;
                  button.disabled = false; // 예약 가능한 경우 버튼 활성화
                } else {
                  dataContainer.innerText = `날짜: ${selectedDate.year}-${selectedDate.month}-${selectedDate.day}, 시간: ${selectedDate.hour}시 예약불가능`;
                  button.disabled = true; // 예약 불가능한 경우 버튼 비활성화
                }
              } else {
                // 응답을 받지 못했거나 오류가 발생한 경우의 처리
                console.error("Request failed. Status: " + xhr.status);
              }
            }
          };

          // 전송할 데이터 구성
          var data = {
            id: id,
            year: currentYear,
            month: currentMonth,
            day: nowColumn.innerText,
            hour: buttonHour,
          };

          xhr.send(JSON.stringify(data));
        };
        buttonContainer.appendChild(button);


      }
      function formatTime(hour) {
        var formattedHour = hour < 10 ? "0" + hour : hour;
        return formattedHour + ":00";
      }
    }

    // 이전달 버튼 클릭
    function prevCalendar() {
      nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
      buildCalendar();    // 달력 다시 생성
    }
    // 다음달 버튼 클릭
    function nextCalendar() {
      nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
      buildCalendar();    // 달력 다시 생성
    }

    // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
    function leftPad(value) {
      return value;
    }


    //인원체크
    var decreaseBtn = document.getElementById("decreaseBtn");
    var increaseBtn = document.getElementById("increaseBtn");
    var personCount = document.getElementById("personCount");


    decreaseBtn.addEventListener("click", () => {
      if (count > 1) {
        count--;
        personCount.innerText = count;
      }
    });

    increaseBtn.addEventListener("click", () => {
      count++;
      personCount.innerText = count;
    });
    // 예약하기 버튼 요소를 선택
    var reserveButton = document.getElementById('reserveButton');

    // 예약하기 버튼 클릭 이벤트 리스너 추가
    reserveButton.addEventListener('click', function() {
      if (selectedDate !== null) {
        var textArea = document.getElementById("text");
        var year = selectedDate.year;
        var month = selectedDate.month;
        var day = selectedDate.day;
        var hour = selectedDate.hour;
        var inputValue = textArea.value;

        /*<![CDATA[*/
        var csrfToken = /*[[${_csrf.token}]]*/ '';
        var csrfHeader = /*[[${_csrf.headerName}]]*/ '';
        /*]]>*/



        // 예약 정보 사용
        if (confirm(year + '년' + month + '월' + day + '일' + hour + '시\n' +  count+"명" + '예약 하시겠습니까?\n'+"요청사항:"+inputValue)) {
          alert('정상적으로 예약되었습니다.');
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/reservation/save', true);
          xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
          xhr.setRequestHeader(csrfHeader, csrfToken);
          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                // 요청이 성공적으로 처리되었을 때의 동작
                window.location.href='/mypage/reservation';
              } else {
                // 요청이 실패했을 때의 동작
                console.error('요청 실패. 상태 코드:', xhr.status);
              }
            }
          };

          // 전송할 데이터 구성
          var data = {
            id: id,
            year: year,
            month: month,
            day: day,
            hour: hour,
            count: count,
            inputValue: inputValue
          };

          // 데이터 전송
          xhr.send(JSON.stringify(data));
        }
      } else {
        alert('예약 날짜를 선택해주세요.');
      }
    });

  </script>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/tiny-slider.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/counter.js"></script>
  <script src="/js/custom.js"></script>

</body>
</html>