<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300&family=Nanum+Gothic:wght@700&family=Orbit&family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-top: 30px;
            margin-bottom:30px;
            padding-right: 20px;
            padding-left: 20px;
        }

        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }


        .nav-item > a {
            text-align: center;  /* 텍스트 중앙 정렬 */
        }
        .card-top {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between; /* 카드 사이의 간격을 균등하게 조절 */
            width: 270px; /* 기존보다 작은 너비 */
            height: auto; /* 높이는 자동으로 조절되도록 설정 */
        }
        .card-img-top {
            width: 100%; /* 이미지가 카드 너비에 맞게 조절되도록 설정 */
            height: 200px; /* 이미지 높이를 직접 지정 */
            object-fit: cover; /* 이미지가 비율을 유지하면서 지정한 영역을 채우도록 설정 */
        }
        .noto-sans{
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
        }
    </style>
</th:block>

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<div id="nav" th:replace="layouts/nav.html :: nav"></div>
<div class="container">
<h2 class="noto-sans" style="margin-left: 3%; margin-top: 150px;">어디로 갈까요?</h2>
<p style="margin-left: 3%; margin-bottom: 40px; font-size: 15px" >매일 색다른 곳에서, 함께하는 즐거움</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarNav">
            <div class="d-flex justify-content-around mb-2">
                <a class="nav-link" href="/rest/gyeongin">경기/인천 전체</a>
                <a class="nav-link" href="/rest/gyeongin?regions=성남시,하남시,광주시">성남/하남/광주</a>
                <a class="nav-link" href="/rest/gyeongin?regions=군포시,안양시,의왕시,과천시">군포/안양/의왕/과천</a>
                <a class="nav-link" href="/rest/gyeongin?regions=수원시,용인시,안성시">수원/용인/안성</a>
                <a class="nav-link" href="/rest/gyeongin?regions=가평군,양평군">가평/양평</a>
                <a class="nav-link" href="/rest/gyeongin?regions=부평구,계양구">부평/계양</a>
                <a class="nav-link" href="/rest/gyeongin?regions=미추홀구,연수구">미추홀/연수</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="seoulDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">그 외</a>
                    <div class="dropdown-menu" aria-labelledby="seoulDropdown">
                        <a class="dropdown-item" href="/rest/gyeongin?regions=안산시,시흥시">안산/시흥</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=부천시,광명시">부천/광명</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=화성시,평택시,오산시">화성/평택/오산</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=연천군,동두천시,포천시">연쳔/동두천/포천</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=파주시,고양시,김포시">파주/고양/김포</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=구리시,남양주시">구리/남양주</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=여주시,이천시">여주/이천</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=의정부시,양주시">의정부/양주</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=중구,옹진군">중구/옹진군</a>
                        <a class="dropdown-item" href="/rest/gyeongin?regions=동구,서구">동구/서구</a>
                        <a class="dropdown-item" href="/rest/gyeongin/region?region=남동구">남동구</a>
                        <a class="dropdown-item" href="/rest/gyeongin/region?region=강화군">강화군</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

    <input type="hidden" name="searchQuery" th:value="${restSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(restSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${restSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

<div class="container">
    <div class="row">
        <th:block th:each="rest, status: ${rests.getContent()}">
            <div class="col-md-3 margin">
                    <a th:href="'/rest/' +${rest.id}" class="text-dark">
                        <img th:src="${rest.imgUrl}" class="card-img-top" th:alt="${rest.restNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 17px;">[[${rest.restNm}]]</h4>
                            <p class="card-text" style="color: gray;">[[${rest.address}]]</p>
                            <p class="card-text"><i class="fas fa-phone"></i> [[${rest.restPhone}]]</p>
                            <p class="card-title">[[${rest.introduction}]]</p>
                        </div>
                    </a>
            </div>
        </th:block>
    </div>
</div>
    <div th:with="start=${(rests.number/maxPage)*maxPage + 1}, end=(${(rests.totalPages == 0) ? 1 : (start + (maxPage - 1) < rests.totalPages ? start + (maxPage - 1) : rests.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${rests.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${restSearchDto.searchQuery} + '&page=' + ${rests.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${rests.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${restSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${rests.number+1 ge rests.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${restSearchDto.searchQuery} + '&page=' + ${rests.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

</div>
<div id="footer" th:replace="layouts/footer.html :: footer"></div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>